body { background-color: rgb(82, 82, 82);text-align: center;
    counter-reset: contadorH3 0;
}

h1 {color:rgb(255, 72, 0);}

p {padding-bottom: 12px;}

p::first-letter { font-size: 150%;font-weight: bold;font-style: italic;}

h3 {
    /*En cada h3, reseteo el contador de los versos*/
    counter-reset: contadorP 0;
}

h3::before {
    content: "Estrofa: " counter(contadorH3) ": ";
    counter-increment: contadorH3 1;
}

p::before {
    counter-increment: contadorP 1;
    content: "Verso: " counter(contadorP) ": ";
}
